<?xml version="1.0"?>
<opencv_storage>
<Configuration>
  <StartTime>0.</StartTime>
  <DurationTime>0.</DurationTime>
  <Timestep>0.</Timestep>
  <UseTimeBounds>0</UseTimeBounds>
  <BackgroundFilename>""</BackgroundFilename>
  <BackgroundRecalculate>1</BackgroundRecalculate>
  <BackgroundFrames>11</BackgroundFrames>
  <BackgroundStartTime>0.</BackgroundStartTime>
  <BackgroundEndTime>0.</BackgroundEndTime>
  <BackgroundLowThreshold>0</BackgroundLowThreshold>
  <BackgroundHighThreshold>255</BackgroundHighThreshold>
  <BackgroundCalcType>mean</BackgroundCalcType>
  <ZonesFilename>""</ZonesFilename>
  <Pipeline>
    <Plugin_0>
      <BackgroundDifference>
        <Active>1</Active>
        <Threshold>42</Threshold>
        <RestrictToZone>0</RestrictToZone>
        <Additive>0</Additive></BackgroundDifference></Plugin_0>
    <Plugin_1>
      <ColorSegmentation>
        <Active>1</Active>
        <Type>HSV</Type>
        <minH>0</minH>
        <minS>0</minS>
        <minV>0</minV>
        <maxH>360</maxH>
        <maxS>255</maxS>
        <maxV>154</maxV>
        <RestrictToZone>0</RestrictToZone>
        <Additive>1</Additive></ColorSegmentation></Plugin_1>
    <Plugin_2>
      <Erosion>
        <Active>1</Active>
        <Size>1</Size></Erosion></Plugin_2>
    <Plugin_3>
      <MovingAverage>
        <Active>0</Active>
        <Length>3</Length>
        <Threshold>1</Threshold></MovingAverage></Plugin_3>
    <Plugin_4>
      <Dilation>
        <Active>1</Active>
        <Size>3</Size></Dilation></Plugin_4>
    <Plugin_5>
      <ExtractBlobs>
        <Active>1</Active>
        <Output>0</Output>
        <MinSize>100</MinSize>
        <MaxSize>609</MaxSize>
        <OutputFilename>""</OutputFilename>
        <RecordLabels>0</RecordLabels></ExtractBlobs></Plugin_5>
    <Plugin_6>
      <TrackBlobs>
        <Active>1</Active>
        <Output>0</Output>
        <OutputFilename>""</OutputFilename>
        <EntitiesCount>5</EntitiesCount>
        <MinInterdistance>0.</MinInterdistance>
        <MaxMotionPerSecond>800.</MaxMotionPerSecond>
        <ExtrapolationDecay>0.80000001192092896</ExtrapolationDecay>
        <ExtrapolationHistorySize>10</ExtrapolationHistorySize>
        <ExtrapolationTimeout>1.</ExtrapolationTimeout>
        <HistoryTrailLength>10</HistoryTrailLength></TrackBlobs></Plugin_6></Pipeline></Configuration>
</opencv_storage>
