<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DialogExtractBlobs">
		<title>Extract blobs</title>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Extract blobs</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>2</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Minimum blob size (pixels)</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrlExtractBlobsSize" member="yes">
									<value>1</value>
									<min>1</min>
									<max>1000000</max>
									<handler function="OnSpinCtrlExtractBlobsSizeChange" entry="EVT_SPINCTRL" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Record labels (required to get angles)</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBoxRecordLabels" member="yes">
									<handler function="OnCheckBoxRecordLabelsClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Output to file</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxOutput" member="yes">
									<handler function="OnCheckBoxOutputClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFilePickerCtrl" name="ID_FILEPICKERCTRL1" variable="FilePickerCtrl1" member="yes">
									<message></message>
									<wildcard></wildcard>
									<style>wxFLP_OVERWRITE_PROMPT|wxFLP_SAVE|wxFLP_USE_TEXTCTRL</style>
									<handler function="OnFilePickerCtrl1FileChanged" entry="EVT_FILEPICKER_CHANGED" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="buttonOk" member="yes">
							<label>Ok</label>
							<focused>1</focused>
							<handler function="OnButtonOkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
